.languageDropdown {
  position: absolute;
  margin: 15px 25px;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 2.5px;
}

.languageDropdown .ant-dropdown-link {
  color: rgba(0, 0, 0, 1);
}

.languageDropdown .ant-dropdown-link:hover {
  font-weight: 200;
}

.languageDropdown__item {
  font-size: 17px;
  font-weight: 300;
}

.languageDropdown .anticon svg {
  position: relative;
  top: -4px;
  font-size: 10px !important;
}