.profil__main {
  width: 100vw;
  height: 100vh;
  font-size: 0.5em;
}

.profil__container {
  margin: 40px 50px;
  display: inline-block;
}

.profil__hello {
  display: inline-block;
  vertical-align: top;
  font-size: 2em;
  padding: 1em 2em;
}

