.listFooter {
  position: fixed;
  bottom: 30px;
  width: calc(100vw - 80px);
  border-top: 1px solid #bebbb2;
  background-color: rgba(255, 255, 255, .33);
  padding: 15px 0;
  height: 39px;
  max-width: 1600px;
}

@media only screen and (max-width: 600px) {
  .listFooter {
    width: 100vw;
    background-color: #d9d6cb;
    bottom: 0;
  }
}

.listFooter__leftContainer {
  display: inline-block;
  padding-left: 10px;
  width: auto;
}

.listFooter__rightContainer {
  position: absolute;
  top: 15px;
  right: 0;
  display: inline-block;
  text-align: right;
  margin-right: 20px;
}

.addTaskFooter__icon {
  position: relative;
  top: 0;
  width: 2rem;
  height: 100%;
  display: inline-block;
  text-align: center;
  font-size: 22px;
  color: rgba(0, 0, 0, .25);
  font-weight: 300;
}

.addTaskFooter__textContainer {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.addTaskFooter__textContainer .addTaskFooter__input {
  border: transparent;
  border-bottom: 1px solid #d9d6cb;
  background-color: transparent;
  white-space: nowrap;
  margin-left: .5rem;
  font-weight: 300;
  width: calc(100vw - 80px - 170px);
  max-width: 1380px;
}


.ant-select-item-option,
.ant-select-dropdown {
  background-color: #d9d6cb !important;
}

.ant-select-item-option-active {
  background-color: rgba(229, 152, 102, 0.5) !important;
  color: white !important;
}

.ant-select-clear {
  background: transparent !important;
  font-size: 22px !important;
  width: 22px !important;
  height: 22px !important;
  margin-top: -12px !important;
}

@media only screen and (max-width: 600px) {
  .addTaskFooter__textContainer .addTaskFooter__input {
    border-bottom: 1px solid #bebbb2;
    width: calc(100vw - 130px);
  }
}