.settings__modal {
    width: 100%;
    display: inline-flex;
    padding: 10px 0 10px 3px;


    .settings__space {
        width: calc(100% - 10px);

        .settings__dropDownEdit {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50px;
            border-radius: 5px 0 0 5px;
            color: white;
        }

        .settings__inputContainer {
            width: calc(100% - 10px);

            .settings__input {
                text-transform: capitalize;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                &:hover {
                    border-color: #999;
                }

                .settings__inputDelete {
                    cursor: pointer;

                    &:hover {
                        color: darkred;
                    }
                }
            }
        }

    }
}

.ant-dropdown-menu-item {
    padding: 0 !important;
    margin: 3px !important;

    .settings__dropdownItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        width: 50px;
        border-radius: 2px !important;
        cursor: pointer;
        height: 22px;

        &:hover {
            opacity: .8;
            color: white !important;
        }
    }
}

.settings__containerMain {
    min-height: 260px;
    .settings__catInputNew {
        margin: 10px 0;
        width: calc(100% - 5px); 
        
        &:hover {
            border-color: #999;
        }
    }

}
