 .row {
    border-bottom: 1px solid #d9d6cb;
    background-color: rgba(255,255,255,.9);
    padding: 1rem;
    font-weight: 200;  
}
  
.row:hover {
    background-color: rgba(255,255,255,.75);
}
  
.row__noBar {
    border-left: .4rem solid transparent;
    border-radius: 0rem;
}
  
.row__goldBar {
    border-left: .4rem solid rgba(229, 152, 102, .75);
    border-radius: .3rem;
}
  
.row__checkboxContainer {
    width: 2rem;
    height: 100%;
    display: inline-block;
    text-align: center;
}

.row__textContainer {
    padding-left: 1rem;
    display: inline-block;
    width: calc(100% - 3rem - 3rem);
}
  
.row__edit {
    width: 3rem;
    display: inline-block;
    text-align: right;
}

.row__checkbox {
    position: relative;
    cursor: pointer;
}  

@media only screen and (max-width: 600px) {
    .row {
        padding: 1rem .5rem;
    }
    .row__checkboxContainer {
        margin-right: .5rem;
    }
}