 .row {
    border-bottom: 1px solid #d9d6cb;
    background-color: rgba(255,255,255,.9);
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 200;  
}
  
.row:hover {
    background-color: rgba(255,255,255,.5);
}
  
.row__noBar {
    border-left: .4rem solid transparent;
    border-radius: 0rem;
}
  
.row__goldBar {
    border-left: .4rem solid rgba(229, 152, 102, .75);
    border-radius: .3rem;
}
  
.row__checkboxContainer {
    width: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100%;
    display: inline-block;
    text-align: center;
}

.row__textContainer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    display: inline-block;
    width: calc(100% - 3rem - 2rem);
    vertical-align: top;
    cursor: pointer;
}

.row__textContainerWithPicture {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    display: inline-block;
    width: calc(100% - 3rem - 5rem);
    vertical-align: top;
    cursor: pointer;
}

.row__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row__picture {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    width: 3rem;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    cursor: pointer;
}

.row__picture:hover {
    opacity: .75;
}
  
.row__edit {
    width: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: inline-block;
    text-align: right;
}

.row__edit:hover {
    opacity: .75;
}

.row__checkbox {
    position: relative;
    cursor: pointer;
}  

.ant-checkbox-inner, .ant-checkbox-input {
    transform: scale(1.2)
  }

@media only screen and (max-width: 600px) {
    .row {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .row__checkboxContainer {
        margin-right: .5rem;
    }
    .row__textContainer {
        padding-left: 0rem;
    }
}