.login__full {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  font-weight: 200;
  letter-spacing: 1px;
} 

.login__form {
  width: 300px;
}
.login__formforgot {
  padding-right: 7px;
  float: right;
}
.ant-col-rtl .login__formforgot {
  float: left;
}
.login__formbutton {
  width: 100%;
}

a:link, a:visited {
  color: rgba(214, 137, 16, .75) !important;
}

a:hover {
  color: rgba(214, 137, 16, 1) !important;
}

.login__switchmode {
  padding-top: 15px;
  color: rgba(255, 255, 255, .75);
}

.login__switchmodetext {
  cursor: pointer;
  color: rgba(214, 137, 16, .75);
}

.login__switchmodetext:hover {
  cursor: pointer;
  color: rgba(214, 137, 16, 1);
}

.login__remember {
  color: rgba(255, 255, 255, .75);
}

.ant-btn-primary {
  background: #43464D !important;
  border-color: #43464D !important;
}

.ant-btn-primary:hover {
  background:  rgba(214, 137, 16, .75) !important;
  border-color: #D68910 !important;
}

.ant-checkbox-checked, .ant-checkbox-inner {
  border-color: #43464D !important;
  background: #43464D !important;
  border-radius: 5px;
}

.login__logo {
  width: 1.2em;
  margin-right: 10px;
  margin-bottom: 5px;
}

.login__header {
  padding-bottom: 25px;
  font-size: .7em;
  font-weight: 200;
  letter-spacing: 2.7px;
}