.home__container {
  font-size: 0.75em;
  width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__main {
  position: fixed;
  top: 61px;
  background-color: rgba(255, 255, 255, 0.25);
  width: calc(100vw - 80px);
  border-radius: 0.3rem;
  max-width: 1600px;
}

.home__rows {
  overflow: scroll;
  height: calc(100vh - 160px);
}

.home__taskCenterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: .75;
  height: calc(100vh - 160px);
}

.home__taskLoadingLogo {
  font-size: 4em;
  width: 100%;
  color: rgb(229, 152, 102) !important;
}

.home__taskLoading {
  font-size: .75em;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.home__taskLoading {
  font-size: .75em;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.home__taskNothing {
  font-size: .75em;
  width: 100%;
  text-align: center;
  opacity: .5;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
  .home__main {
    margin: 0;
    width: calc(100vw);
  }

  .menu__copyright {
    display: none;
  }

  .home__rows {
    overflow: scroll;
    height: calc(100vh - 130px);
  }
}