  .listHeader {
    border-bottom: 2px solid #d9d6cb;
    background-color: rgba(255,255,255,.9);
    border-radius: 0.3rem;
    padding: 1rem; 
    height: 60px;
    border-left: .4rem solid transparent;
    border-radius: 0rem;
  }

  .listHeader__ListNameContainer {
    display: inline-block;
    width: 60%;
  } 

  .listHeader__SwitchContainer {
    display: inline-block;
    text-align: right;
    width: 40%;
  } 

  .listHeader__Switch {
    display: inline-block;
    margin-left: 1rem;
  }
  
  .listHeader__rowLogo {
    width: 2rem;
    margin-right: 1rem;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }