  .listHeader {
    border-bottom: 2px solid #d9d6cb;
    background-color: rgba(255,255,255,.9);
    border-radius: 0.3rem;
    padding: 1rem; 
    height: 65px;
    border-left: .4rem solid transparent;
    border-radius: 0rem;
  }

  .listHeader__ListNameContainer {
    display: inline-block;
    width: calc(100% - 140px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } 

  .listHeader__SwitchContainer {
    display: inline-block;
    text-align: right;
    width: 140px;
    vertical-align: top;
  } 

  .listHeader__Switch {
    display: inline-block;
  }
  
  .listHeader__rowLogo {
    width: 2rem;
    margin-right: 1rem;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }

  .listOfLists {
    position: absolute;
    background-color: rgba(226,224,217,.9);
    width: 100%;
    padding: 1rem 1rem 1rem 4.5rem; 
    z-index: 10;
    height: auto;
    transition: height 0.3s linear;
  }

  .fullScreen {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100vh); /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100); 
    width: 100vw;
    background-color: transparent;
    z-index: 9;
  }

  @media only screen and (max-width: 600px) {
    .listHeader {
      padding: 1rem 1rem 1rem .5rem; 
    }  
    .listHeader__rowLogo {
      margin-right: .5rem;
    }
    .listOfLists {
      padding: 1rem 1rem 1rem 3.5rem; 
    }
  }