.avatar__avatar {
  border: 1px solid #aaaaaa;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  display: inline-block;
  vertical-align: top;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.avatar__avatarLoading {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar__editAvatar {
  display: table-cell;
  text-align: right;
  vertical-align: bottom;
  font-size: 22px;
  color: #aaaaaa;
  width: 195px;
  height: 195px;
  cursor: pointer;
}

.avatar__editAvatar:hover {
    color: #6d917e;
  }


.avatar__inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.avatar__inputfile + label {
    cursor: pointer;
}

.avatar__avatar .avatar__noAvatar {
  position: absolute;
  padding: 50px;
  font-size: 100px;
  color: rgba(109, 145, 126, .25);
	z-index: -1;
}

