.home__logout {
  border: 1px solid red;
  cursor: pointer;
}

.home__logout:hover {
  border: 1px solid red;
  background-color: red;
  color: white;
  cursor: pointer;
}

.home__container {
  font-size: .75em;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__main {
  margin: 3rem;
  background-color: rgba(255,255,255,.25);
  width: calc(100vw - 6rem);
  min-height: calc(100vh - 6rem);
  border-radius: 0.3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.home__header {
  border-bottom: 3px solid #d9d6cb;
  background-color: rgba(255,255,255,.9);
  border-radius: 0.3rem;
  padding: 1rem;
}

.home__row {
  border-bottom: 1px solid #d9d6cb;
  background-color: rgba(255,255,255,.9);
  padding: 1rem;
  font-weight: 200;  
}

.home__rowNoBar {
  border-left: .4rem solid transparent;
  border-radius: 0rem;
}

.home__rowGoldBar {
  border-left: .4rem solid rgba(229, 152, 102, .75);
  border-radius: .3rem;
}

.home__row:hover {
  background-color: rgba(255,255,255,.75);
}

.home__rowLogo {
  width: 2rem;
  margin-right: 1rem;
  display: inline-block;
  text-align: center;
}

.home__checkbox {
  position: relative;
  top: 3px;
  width: 1em;
  height: 1em;
  cursor: pointer;
}