.home__container {
  font-size: .75em;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__header {
  padding-top: .8rem;
  border-bottom: 3px solid #d9d6cb;
  height: 3.5rem;
  width: calc(100vw - 8rem);
  opacity: .5;
}

.home__Logo {
  margin: 0rem .5rem 0rem 1rem;
  width: 25px;
  height: 25px;
}

.home__main {
  margin: 0 4rem 3rem 4rem;
  background-color: rgba(255,255,255,.25);
  width: calc(100vw - 8rem);
  min-height: calc(100vh - 6.5rem);
  border-radius: 0.3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.home__listHeader {
  border-bottom: 3px solid #d9d6cb;
  background-color: rgba(255,255,255,.9);
  border-radius: 0.3rem;
  padding: 1rem;
}

.home__row {
  border-bottom: 1px solid #d9d6cb;
  background-color: rgba(255,255,255,.9);
  padding: 1rem;
  font-weight: 200;  
}

.home__rowNoBar {
  border-left: .4rem solid transparent;
  border-radius: 0rem;
}

.home__rowGoldBar {
  border-left: .4rem solid rgba(229, 152, 102, .75);
  border-radius: .3rem;
}

.home__row:hover {
  background-color: rgba(255,255,255,.75);
}

.home__rowLogo {
  width: 2rem;
  margin-right: 1rem;
  display: inline-block;
  text-align: center;
}

.home__checkbox {
  position: relative;
  top: 3px;
  width: 1em;
  height: 1em;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .home__header {
    width: 100vw;
  }
  .home__main {
    margin: 0rem .4rem .3rem .4rem;
    width: calc(100vw - .8rem);
    min-height: calc(100vh - 3.8rem); /* 3.5 header + 0.3 margin */
  }
}