.home__container {
  font-size: 0.75em;
  width: 100vw;  
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__main {
  position: relative;
  margin: 0 4rem 3rem 4rem;
  background-color: rgba(255, 255, 255, 0.25);
  width: calc(100vw - 8rem);
  height: calc(100% - 6.5rem);
  border-radius: 0.3rem;
}

.home__rows {  
  height: calc(100vh - 3.5rem - 65px - 70px - 3rem); /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100 - 3.5rem - 65px - 70px - 3rem); /* header, listHeader, listFooter, margin-bottom  */
  overflow: scroll;
}

@media only screen and (max-width: 600px) {
  .home__main {
    margin: 0rem 0.8rem 1rem 0.8rem;
    width: calc(100vw - 1.6rem);
    height: calc(100% - 4.5rem); /* 3.5 header + 1 margin */
  }
  .home__rows {
    height: calc(100vh - 3.5rem - 65px - 70px - 1rem); /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100 - 3.5rem - 65px - 70px - 1rem); /* header, listHeader, listFooter, margin-bottom  */
    overflow: scroll;
  }
}
