.emailVerified__leftPanel {
  width: 40vw;
  height: 100vh;
  display: inline-block;
  vertical-align: top;
  background-image: url("./../../img/opendoor.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.emailVerified__rightPanel {
  width: 60vw;
  height: 100vh;
  display: inline-block;
  vertical-align: top;
  background-color: white;
}

.emailVerified__container{
  min-height: 100vh;
  padding: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: .5em;
  text-align: justify;
}

.emailVerified__link {
  padding-top: 15px;
  color: rgba(0, 0, 0, .75);
}

.emailVerified__loader {
  font-size: 5em;
}

