.newPassword__leftPanel {
  width: 40vw;
  height: 100vh;
  display: inline-block;
  vertical-align: top;
  background-image: url("./../../img/pool.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.newPassword__rightPanel {
  width: 60vw;
  height: 100vh;
  display: inline-block;
  vertical-align: top;
  background-color: white;
}
