.welcome__container {
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  display: inline-block;
  vertical-align: top;
}

.welcome__alreadyMember{
    position: absolute;
    right: 1.5em;
    font-size: .5em;
}
