.welcome__container {
  width: 100vw;
  height: 100vh;
  display: inline-block;
  vertical-align: top;
  background-color: rgba(130, 119, 82, .3);
}

.welcome__alreadyMember{
    position: absolute;
    right: 1.5em;
    font-size: .5em;
}
