.menuItemCategorie__Container {
    width: 100%;
    display: inline-flex;

    .menuItemCategorie__Title {
        text-transform: capitalize;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

    }

    .menuItemCategorie__ColorPicker {
        position: absolute;
        right: 15px;
    }
}

.menuItemCategorie__ContainerMobile {
    width: 100%;
    display: inline-flex;
    padding: 0 0 20px 3px;

    .menuItemCategorie__Title {
        text-transform: capitalize;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

    }

    .menuItemCategorie__ColorPicker {
        position: absolute;
        right: 25px;
    }

}

.modalCategories__modal {
    .ant-modal-title {
        padding-bottom: 10px;
        opacity: .15;
        font-weight: 100;
    }
}