.menuItemCategorie__Container {
    width: 100%;
    display: inline-flex;

    .menuItemCategorie__Title {
        text-transform: capitalize;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

    }

    .menuItemCategorie__ColorPicker {
        position: absolute;
        right: 15px;
    }
}