.row {
    border-bottom: 1px solid #d9d6cb;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 300;  

    &:hover {
        background-color: rgba(255,255,255,.5);
    }
}

.row__archived {
    border-left: .4rem solid transparent;
    background-color: rgba(255,255,255,.3);
    border-radius: 0rem;
    text-decoration: line-through;
    color: #bbb7ac;
}
  
.row__active {
    border-left: .4rem solid rgba(229, 152, 102, .75);
    background-color: rgba(255,255,255,.9);
    border-radius: .3rem;
}

.row__archived, .row__active {
    .row__container {
        padding: .5rem 1rem;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        width: calc(100% - 2rem);
    
        .row__title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    
        .row__noDesc {
            padding-top: .5rem;
        }
    
        .row__desc {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 200; 
    
            .row__linkDesc {
                font-size: .6em;
                font-weight: 200;  
                cursor: pointer;
                color:rgba(0, 0, 0, .75) !important;
            } 
        }
    } 
}
  

@media only screen and (max-width: 600px) {
    .row {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .row__archived, .row__active {
        .row__textContainer {
            padding-left: 0rem;
            width: calc(100% - 3rem);
        }
    }
} 