
.detailRow {
    position: relative;
    padding-bottom: 1rem;
    margin-left: 3rem;
    width: calc(100% - 3rem);
}

.detailRow__text {
    font-size: .75em;
    font-weight: 200;  
}

@media only screen and (max-width: 600px) {
    .detailRow {
        margin-left: 2.5rem;
    }
}